:root {
    --brown: #876943;
    --grey: #d9d9d9ff;
    --lgrey: #d3d3d3;
}

* {
    background-color: rgb(238, 238, 238);
    color: black;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    color: var(--lgrey);
    background-color: var(--brown);
    display: inline-block;
    padding-left: 30px;
}

h2 {
    font-size: 45px;
    color: var(--lgrey);
    background-color: var(--brown);
    display: inline-block;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 30px;
}

header {
    display: flex;
    background-color: var(--brown);
    height: 100px;
    justify-content: space-between;
}

nav, ul, li, .navlink {
    display: inline;
    background-color: var(--brown);
    color: var(--lgrey);
    padding-right: 10px;
    font-size: 25px;
}

#abtme {
    margin-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--grey);
    
}

#abtme img {
    display: inline;
    height: 8%;
    width: 8%;
}

#abtme h4 {
    background-color: var(--grey);
    text-decoration: var(--brown) underline;
    padding-top: 20px;
}

#abtme p {
    background-color: var(--grey);
}

.title {
    position: relative;
    background-color: var(--brown);
    height: 80px;
    margin-top: 50px;
}

.title h2 {
    position: absolute;
    top: -12px;
}

.work {
    display: flex;
    flex-direction: row;
}
.workbox {
    display: flex;
    background-color: var(--grey);
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
}

#nomargin {
    margin-right: 0px;
}

.workbox p {
    display: inline-block;
    background-color: var(--grey);
    width: 50%;
    padding: 20px;
}

.workbox img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.deepdive {
    display: flex;
    
}

.deepdive p {
    background-color: var(--grey);
    width: 50%;
    padding: 20px;
}

.deepdive img {
    object-fit: cover;
    width: 50%;
    height: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

#contactinfo {
    text-align: center;
    background-color: var(--brown);
}

.contactinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--brown);
}

.contactinfo h4 {
    background-color: var(--brown);
    color: var(--lgrey)
}

.contactinfo h4 a, u {
    background-color:var(--brown);
    color: var(--lgrey);
    font-size: 30px;
}

/* .contactinfo h4 u {
    background-color: var(--brown);
    font
} */